*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: white;
    --secondary-color:black;
    --dark: gray;
    --light: #B4D0E7;
    --col100:orange;
    --col_60:yellow;
    --col50:red;
    --col40:pink;
    --col30:purple;
    --row:blue;
}

.row::after{
    content: "";
  clear: both;
  display: table;
}


/*margin, padding*/

.margin_xl{
    width: 1600px;
    margin: 0 auto;
    padding: 5rem;
}

.margin{
    width: 1400px;
    margin: 0 auto;
    padding: 5rem;
}

.margin_top{
    margin-top: 5rem;
}

.margin_top2{
    margin-top: 2rem;
}
.margin_right{
    margin-right: 2rem;
}

.padding{
    padding: 2rem;
}

.padding_left{
    padding-left: 2rem;
}


/*grid*/

.col_100{
    float: left;
    background-color: var(--col100);
    width: calc(100% - 2rem*2);
    height: 200px;  
}

.col_60{
    float: left;
    background-color: var(--col_60);
    width: 60%;
    height: 200px;

}

.col_50{
    float:left;
    width: 50%;
    background-color: var(--col50);
    height: 50px;
    
}

.col_40{
    float: left;
    background-color: var(--col40);
    height: 200px;
    width: 40%;
}

.col_30{
    float: left;
    background-color: var(--col30);
    height: 700px;
    width: 30%;
}

.bg_blue{
    background-color: var(--light);
    height: 700px;
}

.calc{
    width: calc(50% - 2rem*2);
}

.margin>.col_50{
    height: 500px;
}